<h1>Listing Reservations</h1>
<table>
    <tr>
      <th> Time: </th>
      <th> 6-7 </th>
      <th> 7-8 </th>
      <th> 8-9 </th>
      <th> 9-10     </th>
      <th> 10-11    </th>
      <th> 11-12    </th>
      <th> 12-13    </th>
      <th> 13-14    </th>
      <th> 14-15    </th>
      <th> 15-16    </th>
      <th> 16-17    </th>
      <th> 17-18    </th>
      <th> 18-19    </th>
      <th> 19-20    </th>
      <th> 20-21    </th>
      <th> 21-22    </th>
    </tr>
      <% for i in 1..params[:courts].to_i%>
        <tr>
            <td>Court: <%= i %></td>
            <%time_ary = [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]%>
            <%time_ary.each do |j|%>
                <% search = { "itemId" => i, "starttime" => j, "endtime" => j+1 , "facilityId" => params[:facilityId]} %>
                <% res = Reservation.search(search) %>
                <% if (res != nil)  %>
                  <td><%= link_to 'Edit/Cancel', edit_reservation_path(res),
                  {:style=>'color:GREEN;', :class => "css_class"}  %>
                  </td>
                <% else %>
                  <td><%= link_to 'Reserve', 
                        new_reservation_path(:itemId => i, :facilityId =>params[:facilityId],
                        :starttime=>j, :endtime=>j+1, :players=>2),
                        {:style=>'color:RED;', :class => "css_class"}  %></td>
                <%end%>
            <%end%>  
        </tr>

      <%end%>
      </table>
  
   

  
